.mu-main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;

  .mu-content {
    position: relative;
    flex-grow: 1;
    padding: 15px 15px 35px 15px;

    .mu-content_wrapper {
      position: relative;
      height: 100%;
    }

    .mu-footer {
      position: absolute;
      bottom: 5px;
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
  }
}
