#{$prefix}-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid $border-color-1;

  &_querybar {
    flex-shrink: 0;
    padding: 15px 15px 0 15px;
    border-bottom: 1px solid $border-color-3;
  }

  &_body {
    position: relative;
    flex-grow: 1;
  }

  &_table {
    position: absolute;
    height: 100%;
    width: 100%;

    .el-table {
      border: none;
      &::after {
        width: 0;
      }
    }

    .el-table__header {
      th {
        background: #f5f7fa;
      }
    }
  }

  &_footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 41px;

    &_left {
      flex-grow: 1;
    }
    &_right {
      flex-shrink: 0;
      .el-pagination {
        margin-top: 4px;
      }
    }
  }

  &_pagination {
    padding-top: 4px;
  }

  &_setcolumn {
    .el-button {
      margin: 4px 7px;
      padding: 0 15px;
      height: 32px;
      min-height: 32px;
      line-height: 32px;
    }
  }
}
$p: #{$prefix}-list_setcolumn;
#{$p}_popper {
  #{$p}_item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 30px;
    line-height: 30px;
  }

  #{$p}_handle {
    flex-shrink: 0;
    width: 30px;
    cursor: pointer;
    text-align: center;
  }
  #{$p}_checkbox {
    flex-grow: 1;
  }
}
